{% extends 'users/base/main_admin.html' %}
{% load custom_tags %}
{% block subtitle %}User profile{% endblock subtitle %}
{% block content %}
{% include 'core/includes/messages.html'%}
<div class="card">
    <div class="card-body">
        <form method='post' novalidate>
            {% if profile_form %}
                <div class="user_profile mt-2">
                    {% include 'core/includes/form_render.html' with form=profile_form title='Profile information' only %}
                </div>
                <div class='mt-2'>
                    {% csrf_token %}
                    <button class='btn btn-success'>Update information</button>
                </div>
            {% endif %}
        </form>
        <div>
            <hr>
            <a href='{% url "users:user_settings" %}' class='btn btn-warning'>Go back to user settings</a>
        </div>
    </div>
</div>
{% endblock content %}

