{% extends 'users/base/admin_base.html' %}
{% block title %}New password{% endblock title %}
{% block body %}
{% include 'users/includes/messages.html'%}
<div class="card">
    <div class="card-body">
        <form method='post' novalidate>
            {% if form %}
                {% include 'users/includes/form_render.html' with form=form title='Setting new password' only %}
                <div class='mt-2'>
                    {% csrf_token %}
                    <button class='btn btn-success'>Update password</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock body %}

