<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% include 'users/includes/bootstrap_css.html' %}
</head>
<body>
    <div class='container-fluid mt-2'>
        <div class='row'>
            <div class='col-3'>
                <div class="card">
                    <div class="card-header">Navigation options</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href='{% url "users:admin_home" %}' class="card-link">Home</a> {% if active_page == 'admin_home' %} <span class="badge bg-primary">You're here!</span>{% endif %} </li>
                        <li class="list-group-item"><a href='{% url "users:user_settings" %}' class="card-link">User settings</a> {% if active_page == 'user_settings' %} <span class="badge bg-primary">You're here!</span>{% endif %}</li>
                        <li class="list-group-item"><a href='{% url "users:admin_confirm_logout" %}' class="card-link">log out</a> {% if active_page == 'confirm_logout' %} <span class="badge bg-primary">You're here!</span>{% endif %}</li>
                    </ul>
                </div>
            </div>
            <div class='col-9'>
                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </div>
{% include 'users/includes/bootstrap_js.html' %}
</body>
</html>