{% extends 'users/base/standard_base.html' %}
{% load custom_tags %}
{% block title %}Sign in{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <form method="POST" novalidate>
                    {% if form %}
                        {% include 'users/includes/messages.html' %}
                        {% include 'users/includes/form_render.html' with form=form title='Login credentials' only %}
                        {% csrf_token %}
                        <div class="d-grid p-2">
                            <button class="btn btn-light" type="submit" style='background-color:#e3f2fd'>Log in</button>
                        </div>
                    {% endif %}
                </form>
                <div class="text-center mt-2">
                    <p>Not an account yet? <a href='{% url "users:user_creation" %}'>Create one here!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}