{% extends 'users/base/main.html' %}
{% block subtitle %}Password reset confirm{% endblock subtitle %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Email was send successfully!</h4>
            <p>Please check your email, we just send the instructions for recovery your password, Good luck.</p>
            <hr>
            <p class="mb-0">Once you recovery it, you will able to log-in in our platform again.</p>
          </div>
    </div>
</div>
{% endblock content %}

