{% extends 'users/base/main_base.html' %}
{% block title %}Password recovery complete{% endblock title %}
{% block body %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">You has been recovered you password successfully</h4>
            <p>Your password has been set correctly. You may go ahead and log in now.</p>
            <hr>
            <p class="mb-0">You can try it here: <a href='{% url "users:login" %}'>Login window</a></p>
          </div>
    </div>
</div>
{% endblock body %}

