{% extends 'users/base/main_base.html' %}
{% block title %}Password recovery form{% endblock title %}
{% block body %}
<div class="card">
    <div class="card-body">
        <form method="POST" novalidate>
            {% if form %}
                {% include 'users/includes/form_render.html' with form=form title='Password recovery' only %}
                {% csrf_token %}
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Set new password</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock body %}

